body {
text-align: center;
background-color:#e8491d;
}

#main{
width:1000px;
height:200px;
}
.headingg h1{
font-family:"Times New Roman";
font: 24pt;
color: black;
}
p.para{
text-align: left;
color: gray;
}
p.paraa{
text-align: left;
color: #716767;
}
p.para2{
text-align: center;
color: black;
}
.heading2 h1{
font-family:"Times New Roman";
font-size:90px;
color: black;
text-align:center;
margin: 0px auto;
}
h.heading3{
font-family:"Times New Roman";
font: 24pt;
color: #4d79ff;
text-align:center;
}
#drinks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color:rgb(116, 106, 106);
  width: 100%;
}
#drinks td, #drinks th {
  border: 1px solid white;
  background-color:rgb(116, 106, 106);
  padding: 8px;
}
#drinks tr{
  background-color:rgb(116, 106, 106);
}
#drinks tr:hover {background-color: #4d79ff;}
#drinks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color:white;
  background-color:rgb(116, 106, 106);
  color: white;
}
#drinks tbody {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color:white;
  background-color: orange;
  color: white;
}
#starters {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#starters tbody {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color:white;
  background-color: orange;
  color: white;
}
#starters td, #starters th {
  border: 1px solid black;
  padding: 8px;
}
#starters tr:hover {background-color: #4d79ff;}
#starters th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color:white;
  background-color:#333;
  color: white;
}
#maincourse {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#maincourse td, #maincourse th {
  border: 1px solid black;
  padding: 8px;
}
#maincourse tr:hover {
color: black;
background-color: #4d79ff;
}
#maincourse th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#333;
  color:white;

}
#desserts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#desserts  td, #desserts  th {
  border: 1px solid black;
  padding: 8px;
}
#desserts  tr:hover {
background-color: #4d79ff;
color:black;
}
#desserts  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#333;
  color:white;
}
#leftt{
width:1000px;
height:200px;
}
#m{
width:1000px;
height:200px;
}
.heading78 h1{
font-family:"Times New Roman";
font-size:100px;
color: gray;
text-align:center;
margin: 0px auto;
}
p.termpara1{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara2{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara3{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara4{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara5{
text-align: left;
color: gray;
}
p.termpara6{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara7{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara8{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara9{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara10{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara11{
text-align: left;
font-size:20px;
color: gray;
}
p.termpara12{
text-align: left;
font-size:20px;
color: gray;
}
p.uspara1{
text-align: left;
font-size: 20px;
color: grey;
}
p.uspara2{
text-align: left;
font-size: 20px;
color: grey;
}
.moreaboutusheading h1{
font-family:"Times New Roman";
font-size:140px;
color: black;
text-align:center;
margin: 0px auto;
}
.GALLERYH h1{
font-family:"Times New Roman";
font-size:140px;
color: black;
text-align:center;
margin: 0px auto;
}

#gallery {
  width: 600px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 100px auto;
  border: 2px solid #003C72;
}

#navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

#navigation li {
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
}

#navigation li a img {
  display: block;
  border: none;
}

#navigation li a {
  display: block;
}

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#e8491d;
}

/* Global */

ul{
  margin:0;
  padding:0;
}
.yu{
	height:90px;
}
.button_1{
  height:40px;
  width:100px;
  background:#e8491d;
  border:0;
  margin-top:5px;
  margin-bottom:10px;
  margin-right:5px;
  padding-bottom: 5px;
  padding-top: 5px;
  color:#ffffff;
}
.button_2{
  height:40px;
  width:100px;
  background:#e8491d;
  border:0;
  margin-top:5px;
  margin-bottom:10px;
  margin-right:20px;
  padding-bottom: 5px;
  padding-top: 5px;
  color:#ffffff;
}
footer{
  color:#ffffff;
  background:#e8491d;
  height:50px;
  padding-top:25px;
  padding-bottom:10px;
  font-weight:bold;
}


/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:10px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
	margin-left:20px;
	padding: 0 20px 0 20px;
  margin-top:2px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  background:url('https://i.postimg.cc/mg7z92hr/1.jpg') no-repeat;
  background-size: cover;
  text-align:center;
  color:#ffffff;
  padding-top:70px;
  padding-bottom:70px;
}

#showcase h1{
  font-size:55px;
  padding-bottom:10px;
}

#showcase p{
  font-size:20px;
  color:white;
  padding-bottom:100px
}

/* Newsletter */
#newsletter{
  padding:10px;
  color:#ffffff;
  background:#35424a;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
}

#newsletter input[type="text"]{
  padding:4px;
  height:25px;
  margin-right:20px;
  width:200px;
}

#newsletter input[type="password"]{
  padding:4px;
  height:25px;
  margin-right:48px;
  width:200px;
}


#mainn h1{
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  margin: 0;
}

#drinks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#drinks td, #drinks th {
  border: 1px solid black;
  padding: 8px;
}
#drinks tr:hover {background-color: #4d79ff;}
#drinks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  text-color:white;
  background-color:#333;
  color: white;
}
#starters {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#starters td, #starters th {
  border: 1px solid black;
  padding: 8px;
}
#starters tr:hover {background-color: #4d79ff;}
#starters th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color:white;
  background-color:#333;
  color: white;
}
#maincourse {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#maincourse td, #maincourse th {
  border: 1px solid black;
  padding: 8px;
}
#maincourse tr:hover {
color: black;
background-color: #4d79ff;
}
#maincourse th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#333;
  color:white;

}
#desserts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#desserts  td, #desserts  th {
  border: 1px solid black;
  padding: 8px;
}
#desserts  tr:hover {
background-color: #4d79ff;
color:black;
}
#desserts  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#333;
  color:white;
}
.umm{
  text-align: center;
}

.moreaboutusheading{
  text-align: center;
}

#map{
  text-align: center;

}

#gallery {
  width: 600px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 100px auto;
  border: 2px solid #003C72;
}

#navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

#navigation li {
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
}

#navigation li a img {
  display: block;
  border: none;
}

#navigation li a {
  display: block;
}

}
.moreaboutusheading h1 {
  position:absolute;
padding:0;
margin: 0;
}
* {box-sizing:border-box}



* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: fixed;
  margin: auto;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




label{

display: block;

margin: 5px 0;

}

label span{

display: none;

}